<% title "Locations" %>
<%=@type%>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<input type="button" value="Find Nearest Parties" onclick="findMe();" />
  </p>
<% end %>
<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% for location in @locations %>
    <tr>
    
       <%
       unless location.parties.nil?	
        for party in location.parties %>
       <td><%=party.title%></td>
         

       
      
	  
	  
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  <% end %>
     <% end %>
</table>


<p><%= link_to "New Location", new_location_path %></p>
